.ordersContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.ordersCardContainer{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

.orderCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0%;
    /* gap: 2em; */
    flex-shrink: 0;
}

.orderBody{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ordersGrid{
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ordersGridContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}