.reqContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reqForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    gap: 10%;
    margin-bottom: 2%;
}

.deptLeft{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

.deptRight{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

